//universal styles ---------------------------------------------------------------------
.no-scroll {
  overflow: hidden !important;
}
.visible {
  visibility: visible !important;
  opacity: 1 !important;
}
.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}
body {
  margin: 0;
}
a, a:hover {
  text-decoration: none;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
* { 
  cursor: none;
}
.scroll {
  overflow: scroll !important;
}
.fallback {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, transparent), color-stop(0.15, black));
}
.projectLink.design .video-underlay {
  background-image: linear-gradient(303deg, $designDark, $designLight);
}
.projectLink.code .video-underlay {
  background-image: linear-gradient(135deg, $codeLight, $codeDark);
}
.projectLink.motion .video-underlay  {
  background-image: linear-gradient(135deg, $motionDark, $motionLight);
}
.active {
  opacity: 1 !important;
  visibility: visible !important;
}