//universal transform ---------------------------
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
	 @include transform(scale($scale));
} 
@mixin translate ($x, $y, $z) {
   @include transform(translate3d($x, $y, $z));
}

//type ---------------------------
@mixin smallHeaders {
	font-family: $base;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 2.1px;
	line-height: 1em;
}
@mixin bigHeaders {
	line-height: .73em;
}
@mixin projectText {
	@include bigHeaders;
	font-size: 12px;
	line-height: 1.25em;
	letter-spacing: .01em;
}
@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}