//projectLinks ---------------------------
.pswp__bg {
  opacity: 1 !important;
}
.projectLinks {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: $margin;
}
.projectLink {
  @include flexCenter;
  width: 100%;
  height: 38vh;
  min-height: 350px;
  max-height: 450px;
  position: relative;
  overflow: hidden;
  margin-bottom: $margin;
  border-radius: $radius;
  &:last-of-type {
    .video-overlay {
      display: none !important;
    }
  }
  a {
    z-index: 2;
    display: flex;
    justify-content: center;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  .video-container {
    will-change: opacity;
    z-index: unset;
    @include flexCenter;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  video {
    opacity: .3;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    mix-blend-mode: luminosity;
    transition: .3s $ease;
    filter: brightness(.5);
    &.active {
      opacity: 1 !important;
      mix-blend-mode: normal;
    }
    &:hover {
      opacity: .5 !important;
    }
  }
  .video-underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  img {
    z-index: 2;
    width: 50vw;
    min-width: 100px;
    max-width: 140px;
    &.united {
      max-width: 215px;
    }
    &.evoke {
      max-width: 190px;
    }
  }
  hr {
    position: absolute;
    height: 0;
    width: 1px;
    background: #fff;
    top: -80px;
    &.active {
      height: 60px;
    }
  }
  .text-wrapper {
    opacity: 0;
    z-index: 1;
    font-size: 16px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    bottom: 50px;
    text-align: center;
    pointer-events: none;
    * {
      color: #fff;
      transition: 1.2s $ease;
    }
    h1 {
      @include translate(-8px,0,0);
      text-decoration: none;
      letter-spacing: -.025em;
      font-size: 1.35em;
      font-weight: 600;
      line-height: .8em;
      margin-right: 15px;
      text-transform: capitalize;
    }
    p {
      @include translate(8px,0,0);
      font-size: .75em;
      font-weight: bold;
      // max-width: 200px;
    }
    &.active {
      h1, p {
        @include translate(0,0,0);
      }
    }
  }
}

//project pages ---------------------------
.project-container {
  position: relative;
  z-index: 3;
  * {
    color: #fff;
  }

  // project-landing section
  .project-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 1600px;
    margin: auto;
    height: 100vh;
    font-size: 130px;
    video {
      position: absolute;
      opacity: .1;
      mix-blend-mode: luminosity;
      z-index: -1;
      top: 0;
      width: 100vw;
      max-width: unset;
      margin-left: -10vw;
      -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(.1, transparent), color-stop(1, black));
      mask-image: gradient(linear, left bottom, left top, color-stop(.1, transparent), color-stop(1, black));
    }
    h1 {
      font-size: .9em;
      text-transform: capitalize;
    }
    h2 {
      font-size: .2em;
      margin: 25px 0;
    }
    h1, h2 {
      font-weight: 600;
      letter-spacing: -.02em;
    }
    span {
      @include smallHeaders;
      display: block;
      margin-bottom: 30px;
      &.awards {
        margin-bottom: 40px;
      }
    }
    .client-date {
      display: flex;
      align-items: center;
      span span, img {
        margin-left: 20px;
        display: inline;
      }
      .client {
        display: flex;
        align-items: center;
        margin-right: 75px;
        img {
          width: 60px;
          &.united {
            width: 115px;
          }
          &.evoke {
            width: 105px;
          }
          &.bode {
            width: 70px;
          }
        }
      }
    }
    hr {
      display: block;
      margin: 10vh 0 5vh 0;
    }
    .project-details {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .tasks, .roles {
        width: 20%;
      }
      .overview {
        width: 40%;
        max-width: 600px;
      }
       li, p {
        font-size: 13px;
        line-height: 2.25em;
      }
      ul {
        padding-left: 0px;
        list-style: none;
      }
    }
  }
  #pin, .project-landing {
    will-change: transform;
  }
  #pin {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
    background: var(--text-color);
    color: var(--bg-color);
  }
  .pin-container {
    height: calc(100vh - 200px);
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .project-block-outer {
    height: inherit;
    display: flex;
  }

  // project-block section
  .project-block {
    width: calc(100vw - 200px);
    max-width: max-content;
    position: relative;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 7vw;
    .project-block-inner {
      position: relative;
      &.drag:after {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        content: '';
        z-index: 2;
        background: center / contain url('../assets/general/grab.gif') no-repeat;
        width: 30px;
        height: 50px;
        right: -40px;
        bottom: 0;
        top:0;
        margin: auto;
        transition: .28s $ease;
      }
      &.drag:hover:after {
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .project-image, video {
      max-width: 100%;
      border-radius: $radius;
    }
    .project-image {
      height: 100%;
      overflow: hidden;
      position: relative;
      top: 0;
      width: 100%;
      img {
        width: 100%;
        box-shadow: 0px 5px 70px rgba(0,0,0,.3);
        object-position: top left;
        object-fit: cover;
      }
    }
    video, aside {
      transition: .28s $ease;
    }
    aside {
      display: flex;
      align-items: baseline;
      margin-top: 20px;
      h2 {
        white-space: nowrap;
        font-size: 1.5em;
        font-weight: 600;
        display: inline;
        margin-right: 15px;
      }
      .switch-type {
        display: inline-block;
        a {
          @include smallHeaders;
          display: inline-block;
          margin: 0;
          padding: 8px 16px;
          font-size: .7em !important;
          line-height: 1em;
          font-weight: bold;
          opacity: .3;
          &:first-of-type {
            margin-right: 10px;
          }
        }
      }
      p {
        width: 100%;
        @include projectText;
        display: inline-block;
      }
    }

    // styles for all the different project blocks
    &.desktopToggle {
      .project-image {
        position: absolute;
        top: 0;
      }
    }
    &.desktopImg {
      .project-block-inner {
        height: 100%;
      }
    }
    &.mobileImg {
      width: 29vw;
      max-width: 420px;
      min-width: 280px;
    }
    &.desktopAndMobile {
      margin-right: 20vw;
      .project-image:nth-child(2),
      video:nth-child(2) {
        background: $white;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 90%;
        width: 20vw;
        border-radius: $radius;
        box-shadow: -10px 0px 50px rgba(0,0,0,.3);
        transition: .75s $ease;
        &:hover {
          transform: scale(1.02) translateY(-5px);
          box-shadow: -10px 0px 60px rgba(0,0,0,.5);
        }
      }
      .project-image:nth-child(2) {
        height: 85%;
      }
      video:nth-child(2) {
        height: unset;
      }
    }
    &.quote {
      width: 50vw;
      blockquote {
        font-size: 3vw;
        font-weight: 600;
        max-width: 800px;
      }
    }

  } // end of project-block
} // end of project-container