@use './_variables.scss' as *;
@use './_mixins.scss' as *;

//slide-up ---------------------------
.text .slide-up-enter-active:nth-of-type(2),
.projectLink.slide-up-enter-active:nth-of-type(2) {
  transition-delay: .2s;
}
.text .slide-up-enter-active:nth-of-type(3),
.projectLink.slide-up-enter-active:nth-of-type(3) {
  transition-delay: .4s;
}
.projectLink.slide-up-enter-active:nth-of-type(4) {
  transition-delay: .6s;
}
.slide-up-enter-active,
.slide-up-leave-active {
  transition: 1.3s $ease;
}
.projectLink.slide-up-enter-active {
  transition: 2.5s $ease;
}
.slide-up-enter-from {
  opacity: 0;
  @include translate(0,5vh,0);
}
.slide-up-leave-to {
  opacity: 0;
  @include translate(0,-5vh,0);
}

//slide-down ---------------------------
.slide-down-enter-active, .slide-down-leave-active {
  transition: 1.3s $ease;
}
.slide-down-enter-from {
  opacity: 0;
  @include translate(0,-3vh,0);
}
.slide-down-leave-to {
  opacity: 0;
  @include translate(0,2vh,0);
}

//slide-down-close for navigation link ---------------------------
.slide-down-close-enter-active, .slide-down-close-leave-active {
  transition: 1.3s $ease;
}
.slide-down-close-enter-from {
  opacity: 0;
  @include translate(0,-1vh,0);
}
.slide-down-close-leave-to {
  opacity: 0;
  @include translate(0,1vh,0);
}

//slide-up-close for navigation link ---------------------------
.slide-up-close-enter-active, .slide-up-close-leave-active {
  transition: 1.3s $ease;
}
.slide-up-close-enter-from {
  opacity: 0;
  @include translate(0,1vh,0);
}
.slide-up-close-leave-to {
  opacity: 0;
  @include translate(0,-1vh,0);
}

//fade ---------------------------
.fade-enter-active, .fade-leave-active {
  transition: 1s $ease;
}
.fade-enter-from {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}

//menu ---------------------------
.menu-enter-active, .menu-leave-active {
  transition: 1s $ease;
  @include scale(1);
}
.menu-enter-from, .menu-leave-to {
  opacity: 0;
  will-change: blur;
  @include scale(1.05);
  transition: 1s;
}

//line ---------------------------
.line-enter-active, .line-leave-active {
  transition: 2s $ease;
  opacity: 1;
  width: 100%;
}
.line-enter-from, .line-leave-to  {
  opacity: 0;
  width: 0;
}

//video ---------------------------
.video-enter-active, .video-leave-active {
  transition: height 3s $ease, opacity 2s $ease;
  height: 165vh;
  opacity: 1;
}
.video-enter-from, .video-leave-to  {
  height: 10vh !important;
  opacity: 0;
}
