@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: '3270';
    src: url('../assets/fonts/3270-Medium 500.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'F37 Bella Pro Hairline';
    src: url('../assets/fonts/bella/F37BellaPro-HairlineBoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'F37 Bella Pro Stencil';
    src: url('../assets/fonts/bella/F37BellaProStencil-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
* {
  -webkit-font-smoothing: antialiased;
  font-family: $gilroy;
}
.motion {
  font-family: 'F37 Bella Pro Stencil';
  * {
    font-family: inherit;
  }
}
.code {
  font-family: '3270';
  * {
    text-transform: lowercase;
    letter-spacing: -.025em;
    font-family: inherit;
  }
}
body {
  font-family: $gilroy;
}
h1, p {
  margin: 0;
}
h1,h2,h3 {
    @include bigHeaders;
}