@font-face {
    font-family: 'Maison Neue Mono';
    src: url('../assets/fonts/MaisonNeue-Mono.woff2') format('woff2'),
        url('../assets/fonts/MaisonNeue-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue';
    src: url('../assets/fonts/MaisonNeue-Bold.woff2') format('woff2'),
        url('../assets/fonts/MaisonNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue';
    src: url('../assets/fonts/MaisonNeue-Medium.woff2') format('woff2'),
        url('../assets/fonts/MaisonNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue Extended';
    src: url('../assets/fonts/MaisonNeueExtended-Black.woff2') format('woff2'),
        url('../assets/fonts/MaisonNeueExtended-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue';
    src: url('../assets/fonts/MaisonNeue-Demi.woff2') format('woff2'),
        url('../assets/fonts/MaisonNeue-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue';
    src: url('../assets/fonts/MaisonNeue-Book.woff2') format('woff2'),
        url('../assets/fonts/MaisonNeue-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue';
    src: url('../assets/fonts/MaisonNeue-Light.woff2') format('woff2'),
        url('../assets/fonts/MaisonNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: $maison;
}
h1, p {
  margin: 0;
}