//color---------------------------------------
$black: #292929;
$white: #fff;
$gray: #ccc;
//end color---------------------------------------

//shapes---------------------------------------
$circle: 75px;
//end shapes---------------------------------------

//ease---------------------------------------
$ease: cubic-bezier(0.23, 1, 0.32, 1);
//end ease---------------------------------------

//type---------------------------------------
$gilroy: 'Gilroy', helvetica, sans-serif;
$maison: 'Maison Neue', helvetica, sans-serif;
$maisonExt: 'Maison Neue Extended', 'Maison Neue', helvetica, sans-serif;
$maisonMono: 'Maison Neue Mono', 'Maison Neue', helvetica, sans-serif;
//end type---------------------------------------