//color---------------------------------------
$black: #292929;
$gray: #cccccc;
//end color---------------------------------------

//shapes---------------------------------------
$circle: 75px;
//end shapes---------------------------------------

//type---------------------------------------
$maison: 'Maison Neue', helvetica, sans-serif;
$maisonExt: 'Maison Neue Extended', 'Maison Neue', helvetica, sans-serif;
$maisonMono: 'Maison Neue Mono', 'Maison Neue', helvetica, sans-serif;
//end type---------------------------------------