@use './_variables.scss' as *;
@use './_mixins.scss' as *;

//video player ---------------------------
.design .plyr {
  --plyr-color-main: #ef7426;
}
.plyr--video {
  border-radius: $radius;
  --plyr-font-size-time: 10px;
  .plyr__controls {
    background: none !important;
    --plyr-control-spacing: 20px;
    * {
      font-weight: bold;
    }
    .plyr__volume {
      max-width: 150px;
    }
    .plyr__progress {
      margin-right: var(--plyr-range-thumb-height,25px)
    }
  }
  .plyr__control--overlaid {
    background: transparent !important;
    display: flex !important;
    @include flexCenter;
    opacity: 1;
    svg {
      width: 100px;
      height: 100px;
    }
  }
  &.plyr--hide-controls .plyr__controls {
    -webkit-transform: translateY(10px) !important;
    transform: translateY(10px) !important;
  }
  &:after {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .3;
    display: block;
    content: '';
    transition: .28s ease;
  }
  &.plyr--playing:after {
    opacity: 0;
  }
}
